@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

.hidden {
  display: none !important;
}

.wrap-drop-down {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  .drop-down__nav {
    .drop-down__ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: 20px;
      .drop-down__li {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 10px 10px;
        transition: all 0.2s linear;
        font-weight: 500;
        position: relative;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        .drop-down__li--text {
          font-size: 1.7rem;
          line-height: 2rem;
        }

        .drop-down__li--icon {
          font-size: 1.3rem;
          position: relative;
          top: 2px;
        }

        &:nth-child(2n) {
          color: #1677ff;
          &:hover {
            cursor: pointer;
            color: #52c41a;
          }
        }

        &:nth-child(2n + 1) {
          color: #eb2f96;
          &:hover {
            cursor: pointer;
            color: #fa541c;
            .content-drop-down-hover {
              display: block;
            }
          }
        }

        // content dropdown hover
        .content-drop-down-hover {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          padding: 8px 10px;
          width: 100%;
          min-width: 140px;
          background-color: #fff;
          border-radius: 8px;
          box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.08);
          animation: fadeIn 0.3s linear;

          .content-drop-down-hover__ul {
            list-style-type: none;
            .content-drop-down-hover__item {
              font-size: 1.3rem;
              color: #000;
              padding: 6px;
              transition: all 0.1s linear;
              text-align: center;
              &:hover {
                cursor: pointer;
                background-color: #ccc;
                border-radius: 4px;
              }
            }
          }
        }

        // content dropdown click
        .content-drop-down__click {
          position: absolute;
          top: 100%;
          left: 0;
          padding: 8px 10px;
          width: 100%;
          min-width: 140px;
          background-color: #fff;
          border-radius: 8px;
          box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.08);
          animation: fadeIn 0.3s linear;

          .content-drop-down-click__ul {
            list-style-type: none;
            .content-drop-down-click__item {
              font-size: 1.3rem;
              color: #000;
              padding: 6px;
              transition: all 0.1s linear;
              text-align: center;
              &:hover {
                cursor: pointer;
                background-color: #ccc;
                border-radius: 4px;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
